<div class="text-center marginBot30">
    <h3>Контактная информация</h3>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 well well-res">

        <div class="text-center marginBot30">
            <h5>Проживание</h5>
        </div>

        <div class="form-group">
            <label for="countryLive" class="control-label col-md-4">Страна:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.countryLive" id="countryLive">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="regionLive" class="control-label col-md-4">Область:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.regionLive" id="regionLive">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="districtLive" class="control-label col-md-4">Район:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.districtLive" id="districtLive">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="localityLive" class="control-label col-md-4">Населенный пункт:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.localityLive" id="localityLive">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="postcodeLive" class="control-label col-md-4">Почтовый индекс:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.postcodeLive" id="postcodeLive">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4" for="addressLive">Улица, дом, квартира:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="InformationParents.addressLive"
                       id="addressLive" placeholder="Введите улицу, дом, квартиру">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 well well-res">
        <div class="text-center marginBot30">
            <h5>Регистрация</h5>
        </div>

        <div class="form-group">
            <label for="countryReg" class="control-label col-md-4">Страна:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.countryReg" id="countryReg">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="regionReg" class="control-label col-md-4">Область:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.regionReg" id="regionReg">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="districtReg" class="control-label col-md-4">Район:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.districtReg" id="districtReg">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="localityReg" class="control-label col-md-4">Населенный пункт:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.localityReg" id="localityReg">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="postcodeReg" class="control-label col-md-4">Почтовый индекс:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.postcodeReg" id="postcodeReg">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4" for="addressReg">Улица, дом, квартира:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="InformationParents.addressReg"
                       id="addressReg" placeholder="Введите улицу, дом, квартиру">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 well well-res">
        <div class="text-center marginBot30">
            <h5>Место рождения</h5>
        </div>

        <div class="form-group">
            <label for="countryPlaceBirth" class="control-label col-md-4">Страна:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.countryPlaceBirth" id="countryPlaceBirth">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="regionPlaceBirth" class="control-label col-md-4">Область:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.regionPlaceBirth" id="regionPlaceBirth">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="districtPlaceBirth" class="control-label col-md-4">Район:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.districtPlaceBirth" id="districtPlaceBirth">

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="localityPlaceBirth" class="control-label col-md-4">Населенный пункт:</label>
            <div class="col-md-6">
                <select class="form-control" ng-model="Contact.localityPlaceBirth" id="localityPlaceBirth">

                </select>
            </div>
        </div>
    </div>
</div>

<div class="row marginBot30">
    <div class="col-md-10 col-md-offset-1 well well-res">
        <div class="form-group">
            <label class="control-label col-md-4" for="email">Адрес электронной почты:</label>
            <div class="col-md-6">
                <input type="email" class="form-control" ng-model="InformationParents.email"
                       id="email" placeholder="Введите адрес электронной почты">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="mobilePhone">Мобильный телефон:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="InformationParents.mobilePhone"
                       id="mobilePhone" placeholder="Введите мобильный телефон">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="homePhone">Домашний телефон:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="InformationParents.homePhone"
                       id="homePhone" placeholder="Введите домашний телефон">
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="text-center">
        <button type="submit" class="btn btn-danger">Подтвердить</button>
    </div>
</div>